* {
    box-sizing: border-box;
  }
  
  body {
    background-color: RGB(237, 237, 239);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures the background covers the full viewport height */
  }
  
  .container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 24px 10px 48px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 580px;
    min-width: 620px;
    min-height: 200px;
    margin: 50px;
    padding: 20px; /* Optional padding inside the container */
  }
  
  .form-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  
  .sign-in-container {
    background: #fff7f7;
    color: #000000;
    flex: 1;
  }
  
  .sign-up-container {
    background: #bfd4de;
    color: #000000;
    flex: 0 0 150px; /* Adjust the last value for width */
    width: auto;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  span, p {
    font-size: 13px;
    margin-bottom: 20px;
  }
  
  input {
    border: 1px solid #ddd;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 5px;
    background: #f7f7f7;
  }
  
  a {
    color: #000000;
    font-size: 14px;
    margin: 15px 0;
    text-decoration: none;
  }
  
  .btn {
    border-radius: 20px;
    border: 1px solid #fff;
    background: #fff;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
  }
  
  .sign-in-container .btn {
    background: #000000;
    color: #fff;
    border: 1px solid #333;
  }
  
  .btn:hover {
    background-color: #bfd4de;
    color: #000000;
  }
  
  #signupbt {
    color: #ddd;
    text-decoration: underline;
    font-size: medium;
    display: flex;
    justify-content: center;
  }
  