<div class="home-container">
  <!-- <app-navbar></app-navbar> Add this line to include the navbar -->
  <div class="main-content">
    <div class="text-content">
      <img src="assests/images/logo.png" alt="Logo" class="logo" />
      <h1>THE BEST THING YOU CAN FIND OUT THERE</h1>
      <p>
        Discover the finest cakes and bakery delights at our shop!
        Nestled in a charming location, we offer an exquisite selection 
        of handcrafted treats that will tantalize your taste buds and bring joy to any occasion.
      </p>
      <button routerLink="/onlineshop" class="shop-now-button">Shop Now</button>
    </div>
    <div class="image-content">
      <img src="assests/images/1.png" alt="Dish Image" />
    </div>
  </div>
</div>
