<div class="home-container">
    <div class="main-content">
      <div class="text-content">
        <img src="assests/images/logo.png" alt="Logo" class="logo" />
        <h1>THE BEST THING YOU CAN FOUND OUT THERE»</h1>
        <p>
          Qui ne connaît pas «L'Ermitage» des Ravet? Située à Vufflens-le-Château,
          une bâtisse historique entourée d’un jardin foisonnant de nature abrite
          le restaurant gastronomique aux 19 points Gault&Millau ainsi qu’un.
        </p>
        <button class="shop-now-button">Shop Now</button>
      </div>
      <div class="image-content">
        <img src="assests/images/1.png" alt="Dish Image" />
      </div>
    </div>
  </div>
  