<div class="about-container">
  <div class="about-text">
    <h1>Welcome to Caba — Where Sweetness Meets Perfection!</h1>
    <p>
      At Caba, we believe every bite should be a celebration. Located in a cozy corner of the city, our bakery is home
      to a delightful range of pastries, cakes, and desserts, all handcrafted with love and the finest ingredients. </p>
    <p>
      Whether you're looking for a decadent cake to mark a special occasion, a flaky pastry for your morning coffee, or
      a sweet treat "just because", Caba promises to deliver both flavor and joy in every bite. </p>
    <p>We’re passionate about baking, and it shows in the care and creativity that go into each of our creations.
      Because at Caba, the best thing you can find out there isn’t just our desserts—it’s the happiness they bring.

      Come, taste the difference.</p>
  </div>
  <div class="about-image">
    <img src="assests/images/store.jpg" alt="Guy Ravet">
  </div>
</div>