<div class="about-container">
    <div class="about-text">
      <h3>About CABA</h3>
      <h1>Cafe & Bakery»</h1>
      <div class="Body">
        <p>
          Welcome to Caba – your neighborhood haven where the aroma of freshly baked goods and the comforting hum of a bustling café blend seamlessly. At Caba, we are passionate about creating an experience that nourishes both your palate and your soul.
        </p>
        <h1>Our Story</h1>
        <p>
          Founded with a love for artisanal baking and a deep appreciation for community, Caba was born out of a desire to bring people together over delicious food and warm conversations. Our journey began with a simple vision: to offer a space where every visit feels like coming home.
        </p>
        <h1>Our Philosophy</h1>
        <p>
          At Caba, we believe in the power of simplicity and the beauty of craftsmanship. Every loaf of bread, every pastry, and every cup of coffee is made with meticulous care and the finest ingredients. We strive to support local farmers and suppliers, ensuring that our offerings are not only delectable but also sustainable.
        </p>
      </div>
    </div>
    <div class="about-image">
      <img src="assests/images/menu.jpg" alt="Guy Ravet">
    </div>
  </div>
  