<div class="container">
  <h1 class="title">RESTAURANT LOCATION</h1>
  <div class="content">
    <div class="image-container">
      <img src="assests/images/store.png" alt="Restaurant Image">
    </div>
    <div class="details-container">
      <h2><strong>CABA</strong></h2>
      <p>
        Discover the finest cakes and bakery delights at our shop! 
        Nestled in a charming location, we offer an exquisite selection of 
        handcrafted treats that will tantalize your taste buds and bring joy to any occasion.
      </p>
      <p class="address">
        Gajuwaka 26 <br>
        530026 Vizag-AP
      </p>
    </div>
  </div>
  <a class="check-locations">Show on map</a>
</div>

