.orders-container {
  padding: 20px;
  background-color: RGB(237, 237, 239); /* Light background */
  min-height: 480px;
}

.order-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
  font-family: 'Times New Roman', Times, serif;
}