<div class="onlineshop-container">
  <header class="header">
    <h2>Products</h2>
    <!-- Button to open modal -->
    <button class="add-product-button" (click)="toggleModal()">Add Product</button>
  </header>

  <!-- Modal for Adding Product -->
  <div class="modal" *ngIf="showForm">
    <div class="modal-content">
      <span class="close" (click)="toggleModal()">&times;</span>
      <h2>Add Product</h2>
      <form (ngSubmit)="addProduct(productForm)" #productForm="ngForm">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" [(ngModel)]="productName" name="name" required>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" [(ngModel)]="productDescription" name="description" required></textarea>
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <input type="number" id="price" [(ngModel)]="productPrice" name="price" required>
        </div>
        <div class="form-group">
          <label for="category">Category:</label>
          <select id="category" [(ngModel)]="productCategory" name="category" required>
            <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="imageUrl">Image URL:</label>
          <input type="text" id="imageUrl" [(ngModel)]="productImageUrl" name="imageUrl" required>
        </div>
        <button type="submit">Add Product</button>
      </form>
    </div>
  </div>

  <!-- Product List -->
  <section class="products">
    <div *ngIf="products.length === 0" class="no-products">
      <p>No products available.</p>
    </div>
    <div *ngFor="let product of products" class="product-card">
      <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image"/>
      <div class="product-info">
        <h4 *ngIf="currentProduct?._id !== product._id">{{ product.name }}</h4>
        <input *ngIf="currentProduct?._id === product._id" [(ngModel)]="productName" placeholder="Name" />

        <p class="price" *ngIf="currentProduct?._id !== product._id">Cost ${{ product.price }}</p>
        <input *ngIf="currentProduct?._id === product._id" [(ngModel)]="productPrice" placeholder="Price" type="number" />

        <p class="description" *ngIf="currentProduct?._id !== product._id">{{ product.description }}</p>
        <textarea *ngIf="currentProduct?._id === product._id" [(ngModel)]="productDescription" placeholder="Description"></textarea>

        <p class="category" *ngIf="currentProduct?._id !== product._id">Category: {{ product.category }}</p>
        <select *ngIf="currentProduct?._id === product._id" [(ngModel)]="productCategory">
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>

        <input *ngIf="currentProduct?._id === product._id" [(ngModel)]="productImageUrl" placeholder="Image URL" />

        <button *ngIf="currentProduct?._id !== product._id" (click)="editProduct(product)">Edit</button>
        <button *ngIf="currentProduct?._id === product._id" (click)="saveProduct(product)">Save</button>
        <button (click)="deleteProduct(product)">Delete</button>
      </div>
    </div>
  </section>
</div>
