<nav class="home-container">
  <input type="checkbox" id="menu-toggle">
  <label for="menu-toggle" class="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <ul class="nav-links">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/aboutus">About-us</a></li>
    <li><a routerLink="/onlineshop">Onlineshop</a></li>
    <li *ngIf="isAdmin"><a routerLink="/products">Products</a></li>
    <!-- <li><a routerLink="/login">Login</a></li> -->
    <a routerLink="/login">
      <img src="assests/images/profile.png" alt="pro" class="profile-icon">
    </a>
    <!-- <li><a routerLink="/signup">Register</a></li> -->
    <!-- Cart Icon -->
    <li>
      <a routerLink="/cart">
        <img src="assests/images/cart.png" alt="Cart" class="cart-icon">
      </a>
    </li>
  </ul>
</nav>
