.success-snackbar {
    background: green !important;
    color: white !important;
  }
  
  .error-snackbar {
    background: red !important;
    color: white !important;
  }
  
  .success-snackbar .mdc-snackbar__action,
  .error-snackbar .mdc-snackbar__action {
    color: white !important;
  }
  
  .success-snackbar .mdc-snackbar__surface,
  .error-snackbar .mdc-snackbar__surface {
    background-color: inherit !important;
  }

  .h1 .h2 .h3 .h4 .h5 .h6 {
    font-family: 'Times New Roman', Times, serif;
  }